.jumbotron {
    margin-bottom: 0px;
    background-image: url("../img/bear.jpeg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#titulo {
	color: red;
	text-shadow: 0.5px 0.5px #000000;
}
