{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/homepage.css' %}" />

		<title>PPGB | Início</title>
	</head>
	<body>
		<div class="jumbotron">
  			<div class="container">
  			  <h1 id="titulo" class="display-1">PPGB</h1>
  			  <h2 id="titulo">Programa Preventivo para Gestantes e Bebês</h2>
 			</div>
		</div>

		<nav class="nav nav-tabs" id="myTab" role="tablist">
  			<a class="nav-item nav-link active" id="nav-sobre-tab" data-toggle="tab" href="#nav-sobre" role="tab" aria-controls="nav-sobre" aria-selected="true">Sobre</a>
  			<a class="nav-item nav-link" id="nav-servicos-tab" data-toggle="tab" href="#nav-servicos" role="tab" aria-controls="nav-servicos" aria-selected="false">Serviços</a>
  			<a class="nav-item nav-link" id="nav-contato-tab" data-toggle="tab" href="#nav-contato" role="tab" aria-controls="nav-contato" aria-selected="false">Contato</a>
  			<a class="nav-item nav-link" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="false">Login</a>
		</nav>
		<div class="tab-content" id="nav-tabContent">
  			<div class="tab-pane fade show active" id="nav-sobre" role="tabpanel" aria-labelledby="nav-sobre-tab">
  				<p>Sobre o PPGB</p>
  			</div>
  			<div class="tab-pane fade" id="nav-servicos" role="tabpanel" aria-labelledby="nav-servicos-tab">Serviços</div>
  			<div class="tab-pane fade" id="nav-contato" role="tabpanel" aria-labelledby="nav-contato-tab">Contato</div>
  			<div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">Login</div>
		</div>
	</body>
</html>